.section-nosotros{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.contenedor-nosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.nosotros{
    width: 45%;
    min-width: 300px;
    padding: 28px;
    border-radius: 20px;
    box-shadow: 0 11px 22px rgba(32, 20, 255, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    background: #ebeef6;
    position: relative;
    overflow: hidden;

}

.nosotros:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(32, 20, 255, 0.2);
}

.mision {
    border-top: 5px solid #3879fb;
    background: linear-gradient(135deg, #dbe6ff 0%, #FFFFFF 100%);
}

.vision {
    border-top: 5px solid #3879fb;
    background: linear-gradient(135deg, #dbe6ff 0%, #FFFFFF 100%);
}

.historia {
    border-top: 5px solid #3879fb;
    background: linear-gradient(135deg, #dbe6ff 0%, #FFFFFF 100%);
}

.terminos {
    border-top: 5px solid #3879fb;
    background: linear-gradient(135deg, #dbe6ff 0%, #FFFFFF 100%);
}

.titulo{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.descripcion{
    color: black;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .nosotros{ 
        width: 100%;
    }
}